__pycache__
*.pyc
*.vs
*.suo
*.user
*.sdf
*.o
*.so
*.gch
*.ncb
*.exe
*.dll
*.pyd

/python/omegacomplete/core/build/
/python/omegacomplete/core/all.cpp
/python/omegacomplete/core/speedtest
/python/omegacomplete/core/trienodetest

python/omegacomplete/core/*/Debug
python/omegacomplete/core/*/Release
python/omegacomplete/core/*/x64
python/omegacomplete/core/*/OmegaCompletePythonModule
python/omegacomplete/core/*/TrieNodeTest
python/omegacomplete/core/*/SpeedTest
python/omegacomplete/core/*/*.psess

