__pycache__
*.pyc
*.suo
*.user
*.sdf
*.o
*.gch
server/omegacomplete_server
root.dir
*.ncb
*.exe
ipch/
*.opensdf
*.def
*.exp
*.lib
*.tmp
python/omegacomplete/core/build
python/omegacomplete/core/VC100/Debug
python/omegacomplete/core/VC100/Release
python/omegacomplete/core/VC110/Debug
python/omegacomplete/core/VC110/Release
python/omegacomplete/core/VC110/x64

python/omegacomplete/core/VC120/Debug
python/omegacomplete/core/VC120/Release
python/omegacomplete/core/VC120/x64
python/omegacomplete/core/VC120/OmegaCompletePythonModule
python/omegacomplete/core/VC120/TrieNodeTest
python/omegacomplete/core/VC120/SpeedTest
python/omegacomplete/core/VC120/*.psess

python/omegacomplete/core/VC140/Debug
python/omegacomplete/core/VC140/Release
python/omegacomplete/core/VC140/x64
python/omegacomplete/core/VC140/OmegaCompletePythonModule
python/omegacomplete/core/VC140/TrieNodeTest
python/omegacomplete/core/VC140/SpeedTest
python/omegacomplete/core/VC140/*.psess

python/omegacomplete/core/speedtest
python/omegacomplete/core/trienodetest
python/omegacomplete/core/all.cpp

core.pyd
core.so
core.dll
